name: PR Checks
on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - main
      - master

jobs:
  lint:
    name: Ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3

  changelog:
    name: Changelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Changelog check
        uses: Zomzog/changelog-checker@v1.1.0
        with:
          fileName: CHANGELOG.rst
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}